# Build tools (must be first)
setuptools>=58.0.4
wheel>=0.36.2

# Core server + Django stack
Django>=5.1.4
gunicorn
whitenoise
django-cors-headers
djangorestframework
djangorestframework_simplejwt
sqlparse

# Only include essential extra packages for your app
numpy
pandas
requests
beautifulsoup4
opencv-contrib-python
spacy
nltk
